<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BRAND HOME -your cart</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<style>

input.form-control {
    padding: 5px 10px;
}

#stockAlert {
    font-size: 0.875rem; /* Slightly smaller font for alerts */
}

</style>

<body>

    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold">BRAND HOME</h1>
                </a>
                
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="/wishList" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <% if (wishListNo) { %>
						
                        <span class="badge"><%= wishListNo %></span>
						
					<% } %>
                </a>
                <a href="" class="btn border active">
                    <i class="fas fa-shopping-cart text-primary"></i> 

                    <% if (cartNo) { %>
						
                        <span class="badge"><%= cartNo %></span>
						
					<% } %>
                  
                </a>
                <% if (user) { %>

                    <a href="/logout">Log Out</a>

                    <a href="/profile" class="btn border "     >
                        <i class="fas fa-user  text-primary"></i>
                    </a>
                        <!-- 
                        data-toggle="dropdown"
                    
                    
                        <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <p  class="dropdown-item"><%= user %></p>
                                <a href="/addresses" class="dropdown-item">Addresses</a>
                                <p class="dropdown-item">Wallet :   </p>
                               
                         </div> -->

                <% } else { %>

                    <a href="/login">Log In</a>

                <% } %>
                
            </div>
        </div> 
    </div>
    <!-- Topbar End -->
   

    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
               
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/home?email=<%= user %>" class="nav-item nav-link ">Home</a>
                            <a href="/products?email=<%= user %>" class="nav-item nav-link">Shop</a>
                            <a href="/cart" class="nav-item nav-link active">Cart</a>
                            <a href="/orders" class="nav-item nav-link">Orders</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                                    <a href="checkout.html" class="dropdown-item">Checkout</a>
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                        </div>
                       <!-- <div class="navbar-nav ml-auto py-0">
                            <a href="/logout" class="nav-item nav-link">Logout</a>
                            <a href="" class="nav-item nav-link">Register</a>-->
                        </div>
                    </div>
                </nav>
            </div>
    </div>
    
    <!-- Navbar End -->


    <!-- Page Header Start -->
    
    <!-- Page Header End -->
    

    <!-- Shop Start -->
        <form action="/cart" method="post">
            <div class="container-fluid pt-5">
                <div class="row px-xl-5">
                    <!-- Shop Sidebar Start -->
                
                                <div class="col-lg-12 table-responsive mb-5">
                                    <table class="table table-bordered text-center mb-0">
                                        <thead class="bg-secondary text-dark">
                                            <tr>
                                                <th>Products</th>
                                                <th>Price</th>
                                                <th>Size</th>
                                                <th>Color</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class=" align-middle " id="cartTable">
                                            <% if (products.length > 0) {
                                                for (let i = 0; i < products.length; i++) { %>
                                            <tr id="cartItem<%= i %>">
                                                <td class="align-middle">
                                                    <img src="/productImages/<%= products[i].image1 %>" alt="" style="width: 50px;">
                                                    <%= products[i].productName %>
                                                    <input type="hidden" value="<%= products[i]._id %>" name="productId<%= i %>">
                                                    <input type="hidden" value="<%= products[i].productName%>" name="productName<%= i %>">
                                                    <input type="hidden" value="<%= products[i].brand %>" name="productBrand<%= i %>">
                                                    <input type="hidden" value="<%= products[i].price %>" name="productPrice<%= i %>">
                                                    <input type="hidden" value="<%= products[i].categoryOfferPercentage + products[i]. productOfferPercentage  %> " name="totalOffer<%= i %>">
                                                    <input type="hidden" value="<%= products[i].image1 %>" name="productImage<%= i %>">
                                                    <input type="hidden" value="<%= (products[i].categoryOfferPercentage + products[i]. productOfferPercentage )*products[i].price/100 %>" name="save<%= i %>">
                                                </td>


                                                <td class="align-middle" id="pricePerUnit<%= i %>">Rs <%= products[i].price %></td>
                                                <td class="align-middle"><%= variants[i].size %>
                                                    <input type="hidden"  name="option<%= i %>" id="size<%= i %>" value="<%= variants[i].size %>">


                                                    <!-- <div class="input-group quantity mx-auto" style="width: 100px;">
                                                        <select name="option<%= i %>" id="size<%= i %>" required onchange="updateQuantity('<%= products[i]._id %>', `<%= i %>`)">
                                                            <% if (products[i].sizes && products[i].sizes.length > 0) {
                                                                for (let j = 0; j < products[i].sizes.length; j++) { %>
                                                                    <option value="<%= products[i].sizes[j] %>">
                                                                        <%= products[i].sizes[j] %>
                                                                    </option>
                                                            <% } } %>
                                                        </select>
                                                    </div> -->
                                                </td>
                                                <td class="align-middle"><%= variants[i].color%>
                                                    <input type="hidden" name="color<%= i %>" id="color<%= i %>" value="<%= variants[i].color%>">



                                                    <!-- <div class="input-group quantity mx-auto" style="width: 100px;">
                                                        <select name="color<%= i %>" id="color<%= i %>" required onchange="updateQuantity('<%= products[i]._id %>', `<%= i %>`)">
                                                            <% if (products[i].colors && products[i].colors.length > 0) {
                                                                for (let j = 0; j < products[i].colors.length; j++) { %>
                                                                    <option value="<%= products[i].colors[j] %>">
                                                                        <%= products[i].colors[j] %>
                                                                    </option>
                                                            <% } } %>
                                                        </select>
                                                    </div> -->
                                                </td>

                                                <td class="align-middle">
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <!-- Decrease Button -->
                                                        <a class="btn btn-sm btn-dark" id="decrease<%= i %>" style="min-width: 36px;">
                                                            <i class="fas fa-minus"></i>
                                                        </a>
                                                
                                                        <!-- Quantity Input -->
                                                        <input type="number" value="1" name="quantity<%= i %>" id="quantity<%= i %>" 
                                                               class="form-control text-center mx-2" style="max-width: 60px;" readonly>
                                                
                                                        <!-- Increase Button -->
                                                        <a class="btn btn-sm btn-dark" id="increase<%= i %>" style="min-width: 36px;">
                                                            <i class="fas fa-plus"></i>
                                                        </a>
                                                
                                                        <!-- Limit Indicator (Hidden) -->
                                                        <input type="hidden" id="limit<%= i %>">
                                                    </div>
                                                
                                                    <!-- Stock Alert (Hidden by Default) -->
                                                    <div class="text-center mt-2 d-none" id="stockAlert<%= i %>">
                                                        <span class="text-danger">Out of stock</span>
                                                    </div>
                                                </td>
                                                

                                                <td class="align-middle" id="totalPrice<%= i %>" >
                                                    Rs <%= products[i].price %>
                                                    
                                                </td>
                                                <!-- onclick="removeCartItem('<%= products[i]._id %>', '<%=variants[i].color%>', '<%=variants[i].size%>', '<%= i %>')" -->
                                                <td class="align-middle">
                                                    <a class="btn btn-sm text-dark p-0 removeCartItems" data-productId="<%= products[i]._id %>"
                                                        data-color="<%=variants[i].color%>"
                                                        data-size="<%=variants[i].size%>"
                                                        data-index="<%= i %>"
                                                       >
                                                        <i class="fas fa-times text-primary mr-1"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <% } } else { %>
                                                <tr>
                                                    <td colspan="7">No products in the cart.</td>
                                                </tr>
                                            <% } %>


                                    
                                        </tbody>
                                    </table>
                                </div>

                        
                </div>
            </div>
            <!-- Shop End -->

            <div class="container-fluid pt-0">
                <div class="row px-xl-5">
                    <div class="col-lg-8 row justify-content-center">
                        <div class="col-lg-6">
                            <h5 class="text-dark bg-warning">offers will add from next page..</h5>
                        </div>
                       
                    </div>
                    <div class="col-lg-4">
                        <div class="card border-secondary mb-2">

                            <div class="card-header bg-secondary border-0">
                                <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                            </div>

                            <div class="card-body">
                                <hr class="mt-0">
                            </div>

                            <div class="card-footer border-secondary bg-transparent">
                                <div class="d-flex justify-content-between mt-2">
                                    <h5 class="font-weight-bold">Total</h5>
                                    <h5 class="font-weight-bold" id="grandTotal">Rs 
                                    </h5>
                                    <input type="hidden" name="totalAmount" id="totalAmount">
                                </div>
                            </div>
                        </div>
                        <div class="card border-secondary mb-5">
                            <% if(products.length > 0){ %>
                                <div class="card-footer border-secondary bg-transparent">
                                    <p class="text-danger hide " id="stockAlert" >remove out of stock item</p>
                                    <input type="submit" value="Check Out" id="checkoutButton"
                                        class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">
                                    </input>
                                </div>
                           <% } %>
                           
                        </div>
                    </div>
                </div>
            </div>
        
        </form>


    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold">BRAND HOME</h1>
                </a>
                <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum dolore amet erat.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                    required="required" />
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <a class="text-dark font-weight-semi-bold" href="#">Your Site Name</a>. All Rights Reserved. Designed
                    by
                    <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">HTML Codex</a><br>
                    Distributed By <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <div id="productsData" data-products='<%= JSON.stringify(products) %>'></div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Template Javascript -->
    <script src="/js/main2.js"></script>
</body>


<script>

document.addEventListener('DOMContentLoaded', async function () {
    const cartItems = await document.querySelectorAll('tr[id^="cartItem"]');
    console.log("cart items",cartItems);

    await checkStockAndUpdateLimit();
    for (let i = 0; i < cartItems.length; i++) {
      await  updateTotalPriceAndGrandTotal(i);
    };
    
});

async function checkStockAndUpdateLimit() {

    console.log("checkStockAndUpdateLimit is working ....")
    const cartItems = document.querySelectorAll('tr[id^="cartItem"]');

    console.log("cart items",cartItems);
    
    
    for (let i = 0; i < cartItems.length; i++) {
        const productId = document.querySelector(`input[name="productId${i}"]`).value;
        const size = document.querySelector(`input[name="option${i}"]`).value;
        const color = document.querySelector(`input[name="color${i}"]`).value;

        console.log("product id and sise and color are",productId,size,color);
        
        
        try {
            const response = await fetch(`/getStock?productId=${productId}&size=${size}&color=${color}`);
            const data = await response.json();
            
            console.log("data is ",data);

            if (data.quantity <= 0) {
                document.getElementById(`stockAlert${i}`).classList.remove('hide');
                document.getElementById(`stockAlert`).classList.remove('hide');
                document.getElementById(`stock${i}`).classList.add('hide');
                document.querySelector('#checkoutButton').disabled = true;
                document.getElementById(`quantity${i}`).value = 0;
            } else {
                document.getElementById(`limit${i}`).value = data.quantity;

                document.getElementById(`stockAlert${i}`).classList.add('hide');
                document.getElementById(`stockAlert`).classList.add('hide');
                document.getElementById(`stock${i}`).classList.remove('hide');
                document.querySelector('#checkoutButton').disabled = false;

                console.log("updated limit is ",document.getElementById(`limit${i}`).value )
            }
        } catch (error) {
            console.error(`Error fetching stock for product ${productId}:`, error);
        }
    }
};

function updateTotalPriceAndGrandTotal(i) {

    console.log("i is ",i);
    console.log("updateTotalPriceAndGrandTotal is working ");

    const price = parseFloat(document.querySelector(`input[name="productPrice${i}"]`).value);
    const quantity = document.getElementById(`quantity${i}`).value;
    const limit = document.getElementById(`limit${i}`).value;

    console.log("item price and quantity and limit is",price,quantity,limit);
    
    // Update total price for the product
    const totalPrice = price * quantity;

    console.log("total price is ",totalPrice)
    document.getElementById(`totalPrice${i}`).innerText = `Rs ${totalPrice.toFixed(2)}`;
    
    // Update grand total
    let grandTotal = 0;
    const cartItems = document.querySelectorAll('tr[id^="cartItem"]');
    cartItems.forEach((item, i) => {
        const itemTotalPrice = parseFloat(document.getElementById(`totalPrice${i}`).innerText.replace('Rs ', ''));
        grandTotal += itemTotalPrice;
    });
    document.getElementById('grandTotal').innerText = `Rs ${grandTotal.toFixed(2)}`;

    // Handle the increase and decrease buttons
    if (quantity <= 1) {
        document.getElementById(`decrease${i}`).style.display = 'none';
    } else {
        document.getElementById(`decrease${i}`).style.display = 'inline';
    }

    if (quantity >= limit) {
        document.getElementById(`increase${i}`).style.display = 'none';
    } else {
        document.getElementById(`increase${i}`).style.display = 'inline';
    }
}

document.querySelectorAll('a[id^="increase"]').forEach(button => {
    button.addEventListener('click', function() {
        const index = this.id.replace('increase', '');
        const quantityInput = document.querySelector(`#quantity${index}`);
        quantityInput.value = parseInt(quantityInput.value) + 1;
        updateTotalPriceAndGrandTotal(index);
    });
});

document.querySelectorAll('a[id^="decrease"]').forEach(button => {
    button.addEventListener('click', function() {
        const index = this.id.replace('decrease', '');
        const quantityInput = document.querySelector(`#quantity${index}`);
        quantityInput.value = parseInt(quantityInput.value) - 1;
        updateTotalPriceAndGrandTotal(index);
    });
});

async function removeProductFromCart(productId, color, size, index) {
        try {

            const quantities = Array.from(document.querySelectorAll("input[id^='quantity']")).map(input => input.value);

            quantities.splice(index, 1);

            Swal.fire({
                title: 'confirm user controll',
                html: '<p>Are you sure...?</p>',
                showCancelButton: true,
                cancelButtonText: 'NO',
                confirmButtonText: 'SURE',
                customClass: {
                    popup: 'no-border-radius',
                    confirmButton: 'custom-confirm-btn',
                    cancelButton: 'custom-cancel-btn'
                }
            }).then((result) => {
                if (result.isConfirmed) {

                   (async function () {
                        const response = await fetch(`/removeFromCart?productId=${productId}&color=${color}&size=${size}`, {
                            method: 'DELETE',
                        });

                        const data = await response.json();
                        if (data.success) {
                            document.getElementById(`cartTable`).innerHTML = ''; // Clear existing cart items

                            data.products.forEach((product, i) => {
                                document.getElementById('cartTable').innerHTML += `
                    <tr id="cartItem${i}">
                        <td class="align-middle">
                            <img src="/productImages/${product.image1}" alt="" style="width: 50px;">
                            ${product.productName}
                            <input type="hidden" value="${product._id}" name="productId${i}">
                            <input type="hidden" value="${product.productName}" name="productName${i}">
                            <input type="hidden" value="${product.brand}" name="productBrand${i}">
                            <input type="hidden" value="${product.price}" name="productPrice${i}">
                            <input type="hidden" value="${product.categoryOfferPercentage + product.productOfferPercentage}" name="totalOffer${i}">
                            <input type="hidden" value="${product.image1}" name="productImage${i}">
                            <input type="hidden" value="${(product.categoryOfferPercentage + product.productOfferPercentage) * product.price / 100}" name="save${i}">
                        </td>
                        <td class="align-middle" id="pricePerUnit${i}">Rs ${product.price}</td>
                        <td class="align-middle">${data.variants[i].size}
                            <input type="hidden" name="option${i}" id="size${i}" value="${data.variants[i].size}">
                        </td>
                        <td class="align-middle">${data.variants[i].color}
                            <input type="hidden" name="color${i}" id="color${i}" value="${data.variants[i].color}">
                        </td>
                        <td class="align-middle">
                           <td class="align-middle">
                        <div class="d-flex align-items-center justify-content-center">
                                <!-- Decrease Button -->
                                <a class="btn btn-sm btn-dark" id="decrease${i}" style="min-width: 36px;">
                                    <i class="fas fa-minus"></i>
                                </a>

                                <!-- Quantity Input -->
                                <input type="number" value="${quantities[i]}" name="quantity${i}" id="quantity${i}" 
                                    class="form-control text-center mx-2" style="max-width: 60px;" readonly>

                                <!-- Increase Button -->
                                <a class="btn btn-sm btn-dark" id="increase${i}" style="min-width: 36px;">
                                    <i class="fas fa-plus"></i>
                                </a>

                                <!-- Limit Indicator (Hidden) -->
                                <input type="hidden" id="limit${i}">
                            </div>

                            <!-- Stock Alert (Hidden by Default) -->
                            <div class="text-center mt-2 d-none" id="stockAlert${i}">
                                <span class="text-danger">Out of stock</span>
                            </div>
                        </td>

                            <div class="input-group quantity mx-auto hide" id="stockAlert${i}" style="width: 100px;">
                                <p class="text-danger">Out of stock</p>
                            </div>
                        </td>
                        <td class="align-middle" id="totalPrice${i}">Rs ${product.price}</td>
                        <td class="align-middle">
                            <a class="btn btn-sm text-dark p-0 removeCartItems" data-productId="${product._id}" data-color="${data.variants[i].color}" data-size="${data.variants[i].size}" data-index="${i}">
                                <i class="fas fa-trash text-primary mr-1"></i>Cancel
                            </a>
                        </td>
                    </tr>
                `;
                            });

                            await checkStockAndUpdateLimit();
                            for (let i = 0; i < data.products.length; i++) {
                                await updateTotalPriceAndGrandTotal(i);
                            };

                        }
                    })();
                };

            });

            document.querySelectorAll('a[id^="increase"]').forEach(button => {
                button.addEventListener('click', function () {
                    const index = this.id.replace('increase', '');
                    const quantityInput = document.querySelector(`#quantity${index}`);
                    quantityInput.value = parseInt(quantityInput.value) + 1;
                    updateTotalPriceAndGrandTotal(index);
                });
            });

            document.querySelectorAll('a[id^="decrease"]').forEach(button => {
                button.addEventListener('click', function () {
                    const index = this.id.replace('decrease', '');
                    const quantityInput = document.querySelector(`#quantity${index}`);
                    quantityInput.value = parseInt(quantityInput.value) - 1;
                    updateTotalPriceAndGrandTotal(index);
                });

                document.querySelectorAll('.removeCartItems').forEach(button => {
                    button.addEventListener('click', function () {
                        const productId = this.dataset.productid;
                        const color = this.dataset.color;
                        const size = this.dataset.size;
                        const index = this.dataset.index;

                        removeProductFromCart(productId, color, size, index);
                    });
                });

            });
        } catch (error) {
            console.error(`Error removing product from cart: ${error}`);
        }
};



document.querySelectorAll('.removeCartItems').forEach(button => {
    button.addEventListener('click', function() {
        const productId = this.dataset.productid;
        const color = this.dataset.color;
        const size = this.dataset.size;
        const index = this.dataset.index;

        removeProductFromCart(productId, color, size, index);
    });
});


</script>


    
//  <script>
   
//    var stockCheck = [];

// document.addEventListener('DOMContentLoaded', async function () {
//     var productsDataElement = document.getElementById('productsData');
//     var productsJson = productsDataElement.getAttribute('data-products');
//     var products = JSON.parse(productsJson);
    

//     await initializeCart(products);
//     updateGrandTotal();
//     isStock();  // Check if any products are out of stock after loading
// });

// async function initializeCart(products) {
//     await Promise.all(products.map(async (product, index) => {
//         if(product){
//             await updateQuantity(product._id, index);
//             document.getElementById("decrease" + index).classList.add("hide");
//         }
//     }));

//     // Recalculate the grand total after initializing the cart
//     updateGrandTotal();
// }

// async function updateQuantity(productId, index) {
//     var size = document.getElementById("size" + index).value;
//     var color = document.getElementById("color" + index).value;
//     var quantityInput = document.getElementById("quantity" + index);
//     var stockAlert = document.getElementById("stockAlert" + index);
//     var stock = document.getElementById("stock" + index);
//     var limit = document.getElementById("limit" + index);

//     try {
//         const response = await fetch(`/getStock?productId=${productId}&size=${size}&color=${color}`);
//         if (!response.ok) throw new Error('Network response was not ok');

//         const stockData = await response.json();

//         if (stockData.quantity < 1) {
//             quantityInput.value = 0;
//             limit.value = 0;
//             stockCheck[index] = 0;
//             stockAlert.classList.remove("hide");
//             stock.classList.add("hide");
//         } else {
//             quantityInput.value = 1;
//             limit.value = stockData.quantity;
//             stockCheck[index] = 1;
//             stockAlert.classList.add("hide");
//             stock.classList.remove("hide");
//             document.getElementById("increase" + index).classList.remove("hide");
//             document.getElementById("decrease" + index).classList.add("hide");
//         }
//     } catch (error) {
//         console.error('There was a problem with the fetch operation:', error);
//     }

//     updatePrice(index);
//     isStock();
// }

// function updateGrandTotal() {
//     var grandTotal = 0;
//     var productsDataElement = document.getElementById('productsData');
//     var productsJson = productsDataElement.getAttribute('data-products');
//     var products = JSON.parse(productsJson);

//     products.forEach((product, index) => {
//         if(product){
//             var totalPriceText = document.getElementById('totalPrice' + index).innerHTML;
//             var totalPrice = parseFloat(totalPriceText.replace(/[^\d.]/g, ''));
//             if (!isNaN(totalPrice)) {
//                 grandTotal += totalPrice;
//             }
//         }
//     });

//     document.getElementById('grandTotal').innerHTML = 'Rs ' + grandTotal.toFixed(2);
//     document.getElementById("totalAmount").value = grandTotal;
// }

// function isStock() {
//     var placeOrderButton = document.getElementById("placeOrder");
//     var stockAlert2 = document.getElementById("stockAlert");

//     if (stockCheck.includes(0)) {
//         stockAlert2.classList.remove("hide");
//         placeOrderButton.disabled = true;
//     } else {
//         stockAlert2.classList.add("hide");
//         placeOrderButton.disabled = false;
//     }
// }

// function updatePrice(index) {
//     var quantity = parseInt(document.getElementById('quantity' + index).value);
//     var pricePerUnitText = document.getElementById('pricePerUnit' + index).innerHTML;
//     var pricePerUnit = parseFloat(pricePerUnitText.replace(/[^\d.]/g, ''));

//     if (!isNaN(pricePerUnit)) {
//         var totalPrice = quantity * pricePerUnit;
//         document.getElementById('totalPrice' + index).innerHTML = 'Rs ' + totalPrice.toFixed(2);
//         updateGrandTotal();
//     } else {
//         console.log("Invalid price");
//     }
// }

// function increase(productId, index) {
//     var limit = parseInt(document.getElementById("limit" + index).value);
//     var num = parseInt(document.getElementById("quantity" + index).value);

//     num++;
//     if (num >= limit) {
//         num = limit;
//         document.getElementById("increase" + index).classList.add("hide");
//     }

//     document.getElementById("quantity" + index).value = num;
//     document.getElementById("decrease" + index).classList.remove("hide");
//     updatePrice(index);
// }

// function decrease(productId, index) {
//     var num = parseInt(document.getElementById("quantity" + index).value);

//     num--;
//     if (num <= 1) {
//         num = 1;
//         document.getElementById("decrease" + index).classList.add("hide");
//     }

//     document.getElementById("quantity" + index).value = num;
//     document.getElementById("increase" + index).classList.remove("hide");
//     updatePrice(index);
// }

// $(document).ready(function () {
//     $('.removeCartItems').click(function (e) {
//         e.preventDefault();
//         var productId = $(this).data('productid');
//         var color = $(this).data('color');
//         var size = $(this).data('size');
//         var index = $(this).data('index');

//         const quantities = Array.from(document.querySelectorAll("input[id^='quantity']")).map(input => input.value);

//         quantities.splice(index, 1);

//         if (confirm('Do you want to cancel this product from the cart?')) {
//             $.ajax({
//                 url: `/removeFromCart?productId=${productId}&color=${color}&size=${size}`,
//                 type: "DELETE",
//                 success: function (res) {
//                     if (res.success&&res.products && res.products.length > 0) {
//                         const products = res.products;
//                         const variants = res.variants;

//                         // Update the cart table and grand total here
//                         updateCartTable(products, variants,quantities);
//                         updateGrandTotal();
                    
//                         //REinitializeCart(products);
//                         //isStock(); 
//                         alert('Failed to remove the item. Please try again.');
//                     }else{
//                         window.location.href="/products";

//                     }



//                 },
//                 error: function (error) {
//                     console.error('Error removing item:', error);
//                     alert('An error occurred. Please try again.');
//                 }
//             });
//         }
//     });

//     // Re-initialize cart on page load
//     var productsJson = $('#productsData').data('products');
//     var products = JSON.parse(productsJson);
//     initializeCart(products);
//     updateGrandTotal();
//     isStock();
// });


// function updateCartTable(products, variants,quantities) {


// console.log("updateCartTable is working now... and details are",products,variants,quantities);
// // Clear existing rows
// document.getElementById('cartTable').innerHTML="";
//             var variants= variants;
//             var quantities=quantities;


//             if (products.length > 0) {
//                 products.forEach((product, i) => {
//                     const row = document.createElement('tr');
//                     row.id = `cartItem${i}`;
//                     row.innerHTML = `
//                         <td class="align-middle">
//                             <img src="/productImages/${product.image1}" alt="" style="width: 50px;">
//                             ${product.productName}
//                             <input type="hidden" value="${product._id}" name="productId${i}">
//                             <input type="hidden" value="${product.productName}" name="productName${i}">
//                             <input type="hidden" value="${product.brand}" name="productBrand${i}">
//                             <input type="hidden" value="${product.price}" name="productPrice${i}">
//                             <input type="hidden" value="${product.categoryOfferPercentage + product.productOfferPercentage}" name="totalOffer${i}">
//                             <input type="hidden" value="${product.image1}" name="productImage${i}">
//                             <input type="hidden" value="${(product.categoryOfferPercentage + product.productOfferPercentage) * product.price / 100}" name="save${i}">
//                         </td>
//                         <td class="align-middle" id="pricePerUnit${i}">Rs ${product.price}</td>
//                         <td class="align-middle">${variants[i].size}
//                             <input type="hidden" name="option${i}" id="size${i}" value="${variants[i].size}">
//                         </td>
//                         <td class="align-middle">${variants[i].color}
//                             <input type="hidden" name="color${i}" id="color${i}" value="${variants[i].color}">
//                         </td>
//                         <td class="align-middle">
//                             <div class="justify-content-between input-group quantity mx-auto" id="stock${i}">
//                                 <a class="btn btn-sm btn-dark" id="decrease${i}" onclick="decrease('${product._id}', '${i}')">-</a>
//                                 <input type="number" min="1" name="quantity${i}" id="quantity${i}" value="${quantities[i] || 1}" required onchange="updatePrice('${i}')" readonly style="width: 50px; text-align: center;">
//                                 <input type="hidden" id="limit${i}">
//                                 <a class="btn btn-sm btn-dark" id="increase${i}" onclick="increase('${product._id}', '${i}')">+</a>
//                             </div>
//                             <div class="input-group quantity mx-auto hide" id="stockAlert${i}" style="width: 100px;">
//                                <p class="text-danger">out of stock</p>
//                             </div>
//                         </td>
//                         <td class="align-middle" id="totalPrice${i}">Rs ${product.price}</td>
//                         <td class="align-middle">
//                             <a class="btn btn-sm text-dark p-0" onclick="removeCartItem('${product._id}', '${variants[i].color}', '${variants[i].size}', '${i}')">
//                                 <i class="fas fa-trash text-primary mr-1"></i>Cancel
//                             </a>
//                         </td>
//                     `;
//                     document.getElementById("cartTable").appendChild(row);
//                 });

//                 document.getElementById("productsData").innerHTML='';
//                 document.getElementById("productsData").innerHTML=`
//                     <div data-products='${JSON.stringify(products)}'></div> `
//             } 
// };





// </script> 

</html>