<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BRAND HOME -your cart</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
 <!-- Topbar Start -->
 <div class="container-fluid">
    <div class="row bg-secondary py-2 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center">
                <a class="text-dark" href="https://wa.me/8594043859">FAQs</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="https://wa.me/8594043859">Help</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="https://wa.me/8593063568">Support</a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-dark px-2" href="">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a class="text-dark px-2" href="https://www.linkedin.com/in/abdullha-ks-234746295?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-dark px-2" href="https://www.instagram.com/abdullha_kalamban?igsh=MXJ3ODBxYnJncWFqcg%3D%3D&utm_source=qr">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-dark pl-2" href="https://youtube.com/@abdullhakalamban?feature=shared">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a href="/home" class="text-decoration-none">
                <h1 class="m-0 display-5 font-weight-semi-bold">BRANDHOME</h1>
            </a>
        </div>
        <div class="col-lg-6 col-6 text-left">
            <form action="/products?email=<%= user %>" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by name" name="search">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-6 text-right ml-auto">
            <div class="d-inline-flex align-items-center">

                <a href="/wishList" class="btn position-relative">
                    <i class="fas fa-heart text-primary">
                    <% if (wishListNo) { %>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-dark"><%= wishListNo %></span>
                    <% } %></i>
                </a>

                <a href="/cart" class="btn">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <% if (cartNo) { %>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-dark"><%= cartNo %></span>
                    <% } %>
                </a>

                <% if (user) { %>
                    <a href="/profile" class="btn">
                        <i class="fas fa-user text-primary"></i>
                    </a>
                <% } else { %>
                    <a href="/login" class="btn btn-primary">
                        Log In
                    </a>
                <% } %>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
   
  <!-- Navbar Start -->
  <div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="/home" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold">BRANDHOME</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="/home?email=<%= user %>" class="nav-item nav-link ">Home</a>
                        <a href="/products?email=<%= user %>" class="nav-item nav-link ">Shop</a>
                        <a href="/cart" class="nav-item nav-link ">Cart</a>
                        <a href="/checkOut" class="nav-item nav-link ">Checkout</a>
                        <a href="/orders" class="nav-item nav-link ">Orders</a>
                        <a href="https://wa.me/8593063568" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar End -->


    <!-- Page Header Start -->
    
    <!-- Page Header End -->


    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
           

            <!-- Shop Product Start -->
            <div class="col-lg-12 col-md-12">
                <div id="wishListItems" class="row pb-3">
                    <% if (products.length > 0) {
                        for (let i = 0; i < products.length; i++) { %>
                            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                                <a href="/productsDetails?productId=<%=products[i]._id %>">
                                    <div class="card product-item border-0 mb-4" style="height: 360px;">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0" style="height: 250px; width: 200px;">
                                                <img class="img-fluid" src="/productImages/<%= products[i].image1 %>" alt="" style="max-height: 100%; max-width: 100%;">
                                            </div>
                                        </div>
                                        <div class="card-body border-left border-right text-center p-0 pt-2">
                                            <h6 class="text-truncate mb-3 overflow-hidden">
                                                <%= products[i].productName %>
                                            </h6>
                                            <div class="d-flex justify-content-center">
                                                <% if(products[i].productOfferPercentage>0 || products[i].categoryOfferPercentage>0){ %>
                                                    <h6>Rs <%= products[i].price - (products[i].productOfferPercentage + products[i].categoryOfferPercentage) * products[i].price / 100 %></h6>
                                                    <p class="text-muted" style="font-size: 10px;">
                                                        <del><%= products[i].price %></del>
                                                        <span class="text-success"><%= products[i].productOfferPercentage + products[i].categoryOfferPercentage %>% off</span>
                                                    </p>
                                                <% } else { %>
                                                    <h6>Rs <%= products[i].price %></h6>
                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between bg-light border">
                                            <a href="/removeFromWishList?productId=<%=products[i]._id %>" class="btn btn-sm text-dark p-0" onclick="return confirm('Do you want to remove this product from wishlist?')">
                                                <i class="fas fa-trash text-primary mr-1"></i>Remove
                                            </a>
                                            <% if(products[i].totalStock > 0){ %>
                                                <a class="btn btn-sm text-dark p-0 move-to-cart" data-productId="<%=products[i]._id %>" href="/productsDetails?productId=<%= products[i]._id %>">
                                                    <i class="fas fa-shopping-cart text-primary mr-1"></i>Move to Cart
                                                </a>
                                            <% } else { %>
                                                <span class="text-danger">Out of Stock</span>
                                            <% } %>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <% } %>
                    <% } else { %>
                        <p>No products in the wishlist.</p>
                    <% } %>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->


   <!-- Footer Start -->
   <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <a href="" class="text-decoration-none">
                <h1 class="mb-4 display-5 font-weight-semi-bold">BRANDHOME</h1>
            </a>
            <p>Where Quality Meets Convenience – Your One-Stop Shop for Everything!</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, Kerala, India</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>brandhome@gmail.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="/home"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-dark mb-2" href="/products"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                        <a class="text-dark mb-2" href="/cart"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                        <a class="text-dark mb-2" href="/checkOut"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                        <a class="text-dark" href="https://wa.me/8594043859"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="/orders"><i class="fa fa-angle-right mr-2"></i>My Orders</a>
                        <a class="text-dark mb-2" href="/profile"><i class="fa fa-angle-right mr-2"></i>Profile</a>
                        <a class="text-dark mb-2" href="/addresses"><i class="fa fa-angle-right mr-2"></i>Addresses</a>
                        <a class="text-dark mb-2" href="/wishList"><i class="fa fa-angle-right mr-2"></i>WishList</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                required="required" />
                        </div>
                        <div>
                            <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" href="#">BRANDHOME</a>. All Rights Reserved. Designed
                by
                <a class="text-dark font-weight-semi-bold" href="https://www.instagram.com/abdullha_kalamban?igsh=MXJ3ODBxYnJncWFqcg%3D%3D&utm_source=qr">aks_designs</a><br>
                Distributed By <a href="https://www.instagram.com/abdullha_kalamban?igsh=MXJ3ODBxYnJncWFqcg%3D%3D&utm_source=qr" target="_blank">AKS4U WEB-SOLUTIONS</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="/images/payments.png" alt="">
        </div>
    </div>
</div>
<!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
        function popup(popupMsg) {
            Swal.fire({
                title: '',
                text: popupMsg,
                timer: 1000,
                showConfirmButton: false,
            });
        }
    
        // document.addEventListener("DOMContentLoaded", function () {
        //     document.getElementById("wishListItems").addEventListener("click", function (e) {
        //         if (e.target.closest('.move-to-cart')) {
        //             e.preventDefault();
        //             const productId = e.target.closest('.move-to-cart').getAttribute('data-productId');
        //             updateCart(productId);
        //         }
        //     });
    
        //     function updateCart(productId) {
        //         console.log("AJAX is working now, and the product id is", productId);
    
        //         $.ajax({
        //             url: '/addtoCartFromWishlist',
        //             type: 'POST',
        //             contentType: 'application/json',
        //             data: JSON.stringify({ productId: productId }),
    
        //             success: function (res) {
        //                 if (res.success) {
        //                     popup(res.msg);
        //                     if (res.cartCount !== undefined) {
        //                         document.getElementById("cartBadge").innerText = res.cartCount;
        //                     }
        //                     if (res.wishCount !== undefined) {
        //                         document.getElementById("wishListBadge").innerText = res.wishCount;
        //                     }
    
        //                     if (res.products.length > 0) {
        //                         let wishProducts = '';
        //                         for (let product of res.products) {
        //                             const item = `
        //                                 <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        //                                     <a href="/productsDetails?productId=${product._id}">
        //                                         <div class="card product-item border-0 mb-4" style="height: 360px;">
        //                                             <div class="d-flex justify-content-center align-items-center">
        //                                                 <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0" style="height: 250px; width: 200px;">
        //                                                     <img class="img-fluid" src="/productImages/${product.image1}" alt="" style="max-height: 100%; max-width: 100%;">
        //                                                 </div>
        //                                             </div>
        //                                             <div class="card-body border-left border-right text-center p-0 pt-2">
        //                                                 <h6 class="text-truncate mb-3 overflow-hidden">${product.productName}</h6>
        //                                                 <div class="d-flex justify-content-center">
        //                                                     ${
        //                                                         (product.productOfferPercentage > 0 || product.categoryOfferPercentage > 0) ?
        //                                                         `<h6>Rs ${product.price - (product.productOfferPercentage + product.categoryOfferPercentage) * product.price / 100}</h6>
        //                                                         <p class="text-muted" style="font-size: 10px;">
        //                                                             <del>${product.price}</del>
        //                                                             <span class="text-success">${product.productOfferPercentage + product.categoryOfferPercentage}% off</span>
        //                                                         </p>` :
        //                                                         `<h6>Rs ${product.price}</h6>`
        //                                                     }
        //                                                 </div>
        //                                             </div>
        //                                             <div class="card-footer d-flex justify-content-between bg-light border">
        //                                                 <a href="/removeFromWishList?productId=${product._id}" class="btn btn-sm text-dark p-0" onclick="return confirm('Do you want to remove this product from the wishlist?')">
        //                                                     <i class="fas fa-trash text-primary mr-1"></i>Remove
        //                                                 </a>
        //                                                 ${
        //                                                     product.totalStock > 0 ?
        //                                                     `<a class="btn btn-sm text-dark p-0 move-to-cart" data-productId="${product._id}" href="#">
        //                                                         <i class="fas fa-shopping-cart text-primary mr-1"></i>Move to Cart
        //                                                     </a>` :
        //                                                     `<span class="text-danger">Out of Stock</span>`
        //                                                 }
        //                                             </div>
        //                                         </div>
        //                                     </a>
        //                                 </div>`;
        //                             wishProducts += item;
        //                         }
    
        //                         document.getElementById("wishListItems").innerHTML = wishProducts;
        //                     } else {
        //                         document.getElementById("wishListItems").innerHTML = "<p>No products in the wishlist.</p>";
        //                     }
        //                 } else {
        //                     console.error('Failed to update cart:', res.msg);
        //                 }
        //             }
        //         });
        //     }
        // });
    </script>
    

</body>



</html>